
.about-heading .optional-text{line-height: 1.69; margin: 0 0 24px 0;}
.about-heading h2{margin-bottom: 26px;}
.about-bg{z-index: -1; width: 1125px; height: 569px; left: -461px; top: -30px; }


@media screen and (min-width: 1024px) {
	.about-main{padding: 134px 0 124px; gap: 154px;}
	.about-heading{flex: 0 0 590px; flex-grow: 1; padding-top: 10px;}
	.about-text{flex: 0 0 calc(100% - 744px); flex-grow: 1;}
}

@media screen and (max-width: 1199px) and (min-width: 1024px){
	.about-main{gap: 50px;}
	.about-heading{flex: 0 0 500px;}
	.about-text {
    flex: 0 0 calc(100% - 550px);}
}

@media screen and (max-width: 1023px) and (min-width: 200px){
	.about-main{padding: 80px 0; gap: 78px;}
	.about-heading, .about-text{width: 100%;}
	.about-heading .optional-text{margin: 0 0 22px 0;}
	.about-heading h2{margin-bottom: 22px;}
	.about-bg{width: 734px; height: 371px; left: -310px; top: 0; }
}