.cta-module {width: 100%; z-index: 2; position: relative; clear: both; color: var(--white); background: var(--green-dark);}
.cta-module .container-lg {position: relative; padding: 0;}
.cta-module .cta-overlay {opacity: 0.6; background: var(--green-dark); width: calc(100% - 33.35%); height: 100%; display: block;}
.cta-main {margin: 0 auto; width: 100%; min-height: 587px; align-items:center;}
.cta-main .h1 {margin-bottom:35px; color: var(--white);}

.cta-bg {top:0; right:0; bottom:0; height:100%; position:absolute; z-index:-1; left: auto;}
.cta-bg img {width:100%; height:100%; font-family:"object-fit:fill"; object-fit:fill; -o-object-fit:fill; object-position:50% 50%; -o-object-position:50% 50%;}

.cta-main .cta-text {max-width:65%; clear: both; padding:80px 0 90px 5%; position: relative; width: 100%;}
.cta-main .cta-text .optional-text {margin: 0 0 19px 0; color: var(--white-75);}

.cta-reverse .cta-overlay{right: 0;}
.cta-reverse .cta-bg {right: auto; left: 0; }
.cta-reverse .cta-main{flex-direction: row-reverse;}
.cta-reverse .graph-icon-wrap{left: 20px; right: auto;}

/*-- media starts here --*/
@media only screen and (min-width:1701px){
    .cta-bg {width: 56.5%;}
    .cta-bg img {font-family:"object-fit:cover"; object-fit:cover; -o-object-fit:cover; object-position:50% 50%; -o-object-position:50% 50%;}
}

@media only screen and (max-width: 1199px) and (min-width:1024px){
    .cta-main .h1 {font-size:4rem;}
}

@media only screen and (max-width: 1023px) and (min-width:768px){
    .cta-module .cta-overlay {width: calc(100% - 35%);}
}

@media only screen and (max-width: 1023px) and (min-width: 200px){
    .cta-main .h1 {font-size: 2.632rem; line-height: 1.08;}
    .cta-bg img {font-family:"object-fit:cover"; object-fit:cover; -o-object-fit:cover; object-position:50% 50%; -o-object-position:50% 50%;}
}
@media only screen and (max-width:767px) and (min-width: 200px){
    .cta-module {display: flex; flex-wrap: wrap; flex-direction: column-reverse; position: relative;}
    .cta-module .container-lg {position: initial;}
    .cta-module .cta-overlay {width: 100%; height: calc(100% - 35.8%); top: 0;}
    .cta-bg {position: initial; margin-top:-25%; height: 85.27vw;}
    .cta-bg img {font-family:"object-fit:cover"; object-fit:cover; -o-object-fit:cover; object-position:50% 50%; -o-object-position:50% 50%;}
    .cta-main {min-height: inherit;}
    .cta-main .cta-text {max-width: 100%; padding:83px 0 80px 0;}
    .cta-main .cta-text .optional-text {margin: 0 0 20px 0;}
}