.cta-module {width: 100%; z-index: 1; position: relative; clear: both; overflow: hidden; color: var(--white); background: var(--green-dark);}
.cta-module .cta-overlay {opacity: 0.6; background: var(--green-dark); width: calc(100% - 33.35%); height: 100%; display: block;}
.cta-main {margin: 0 auto; width: 100%; min-height: 587px; align-items:center;}
.cta-main .h1 {margin-bottom:35px; color: var(--white);}

.cta-bg {top:0; right:0; bottom:0; height:100%; position:absolute; z-index:-1; left: auto; width: 56.412%;}
.cta-bg img {width:100%; height:100%; font-family:"object-fit:cover"; object-fit:cover; -o-object-fit:cover; object-position:50% 50%; -o-object-position:50% 50%;}

.cta-main .cta-text {max-width:838px; clear: both; padding:80px 0 90px; position: relative; width: 100%;}
.cta-main .cta-text .optional-text {margin: 0 0 19px 0; color: var(--white-75);}


/*-- media starts here --*/


@media only screen and (max-width: 767px) and (min-width: 200px){
	.cta-main .cta-text {width: calc(100% - 50px); font-size: 1.125rem; line-height: 1.44; padding:46px 0 50px;}
	.cta-main .cta-text p {margin-bottom: 26px;}
	.cta-main .h1 {margin-bottom: 30px;}
}