.default-banner-section {float: left; width: 100%; position: relative; z-index: 1;}
.default-banner-main {width: 100%; min-height:480px; position: relative; align-items:flex-start; padding: 72px 0;}
.default-banner-main .default-banner-text {clear: both; max-width: 540px; width: 100%;}
.default-banner-main .default-banner-text .optional-text {font-size: 1rem; line-height: 1.5; color: var(--white-50); font-weight:400; letter-spacing: normal; margin: 0 0 22px 0;}
.default-banner-main .default-banner-text h1 {color: var(--yellow); margin-bottom: 25px;}
.default-banner-main .default-banner-text p {color: var(--white); font-size: 1.25rem; font-weight:500; line-height: 1.4;}

.default-banner-main .default-banner-text .cat-wrap ul li {background: var(--white); color: var(--dark); letter-spacing: normal; padding: 6px 15px 6px;}
.default-banner-main .default-banner-text .cat-wrap ul li a {color: var(--dark);}
.default-banner-main .default-banner-text .cat-wrap ul li a:hover {color: var(--yellow);}
.default-banner-main .default-banner-text .cat-date {font-size: 0.75rem; color: var(--white); font-weight: 500; letter-spacing: normal; padding: 0 0 0 19px; margin-top: 2px;}
.default-banner-main .default-banner-text .cat-date:before {content: "\f133"; font-family: "Font Awesome 6 Sharp"; font-weight: normal; position:absolute; left: 0; top: -1px; display: block; font-weight: 900;}

/*-- media starts here --*/

@media only screen and (max-width: 767px) and (min-width: 200px){
	.default-banner-main {min-height:576px; align-items: flex-end; padding: 56px 0;}
	.default-banner-main .default-banner-text p {font-weight: normal!important; font-size: 1.25rem; line-height: 1.4; padding-right: 31px;}
}
