.micro-cta-module {width: 100%; z-index: 1; position: relative; clear: both; overflow: hidden; margin-top: 78px; margin-bottom: 80px;}
.micro-cta-main {margin: 0 auto; width: 100%; min-height: 295px; align-items:center; position: relative; padding:53px 57px 50px 50px; justify-content: space-between; gap: 20px;}
.micro-cta-main .optional-text {color: var(--muted-inverted);}
.micro-cta-main .h3 {margin-bottom:24px; color: var(--white); max-width: 400px;}

.micro-cta-bg {top:0; left:0; right:0; bottom:0; width:100%; height:100%; position:absolute; z-index:-1;}
.micro-cta-bg:after {background:linear-gradient(-270deg, var(--blue-dark) 0%, rgba(1, 75, 136, 0.4) 100%); content: ""; width: 100%; height:100%; position: absolute; left: 0; top: 0; display: block;}
.micro-cta-bg img {width:100%; height:100%; font-family:"object-fit:cover"; object-fit:cover; -o-object-fit:cover; object-position:50% 50%; -o-object-position:50% 50%;}

.micro-cta-main .micro-cta-text {max-width:500px; clear: both;  position: relative; width: 100%; font-size: 1rem;}
.micro-icon {width: 55px; height: 69px; margin-bottom: auto;}
.micro-icon img {width: 100%; height: 100%;}


/*-- media starts here --*/


@media only screen and (max-width: 767px) and (min-width: 200px){
    .micro-cta-module {margin:58px 0 43px 0;}
    .micro-cta-main {align-items: flex-start; padding: 40px; flex-direction: column-reverse;}
    .micro-cta-main .h3 {margin-bottom:14px;  font-size: 1.263rem; line-height: 1.29; width: calc(100% - 10%); max-width: 100%;}
    .micro-cta-main .micro-cta-text {max-width: 100%;} 
    .micro-icon {margin: 0 0 5px 9px;}

}