.repeater-section{clear: both; width: 100%; overflow: hidden;}
.repeater-main{display: flex; flex-wrap:wrap; gap: 69px;}
.repeater-list {width: 100%; position: relative; padding: 154px 0 80px; z-index: 1;}
.repeater-list .background-bg {width:43.6%; opacity: 0.7;}
.repeater-list .background-bg:before {content: ""; width: 100%; height: 100%; background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, rgb(255, 255, 255) 100%); position: absolute; right: 0; top: 0; display: block;}
.repeater-list .background-bg:after {content: ""; width: 100%; height: 100%; background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255) 90%); position: absolute; right: 0; top: 0; display: block;}

.repeater-list-inner {justify-content: space-between; gap:10.562414266117969%; line-height: 1.5; font-size: 1rem; align-items: center;}
.repeater-list:nth-child(2n) .repeater-list-inner {flex-direction: row-reverse;}
.repeater-list:nth-child(2n) .repeater-list-inner .repeater-text {padding:4px 0 0 8.5%;}
.repeater-list:nth-child(2n) .background-bg {left: auto;}
.repeater-list:nth-child(2n) .background-bg:before {transform: scale(-1, -1);}

.repeater-text{flex: 1; padding:0 8.5% 0 0;}
.repeater-text .h2 {max-width: 500px;}
.repeater-img{max-width:466px; flex-grow: 1; max-height: 440px; height: 100%; width: 100%; padding:7px 0 0 0;}

.repeater-light-bg{background: var(--light);}

body.page-template-sustainability .repeater-list .background-bg::before{background: linear-gradient(90deg,rgba(255, 255, 255, 0) 0%, var(--light) 100%);}
body.page-template-sustainability .repeater-list .background-bg::after{background: linear-gradient(180deg,rgba(255, 255, 255, 0) 0%, var(--light) 90%);}

@media only screen and (min-width:1401px) {
  .repeater-list .background-bg .object-fit img{font-family: "object-fit:fill"; object-fit: fill; -o-object-fit: fill; object-position:0 0;}  

  body.page-template-sustainability .repeater-main{gap:0;}
  body.page-template-sustainability .repeater-list{padding: 150px 0 149px;}

}

@media only screen and (max-width: 1400px) and (min-width:1024px) {
    .repeater-main {gap:30px;}
    .repeater-list {padding: 80px 0 80px;}
    .repeater-list-inner {gap: 7%;}
    .repeater-text, .repeater-list:nth-child(2n) .repeater-list-inner .repeater-text {padding: 0;}
    .repeater-img {padding: 0;}
}

@media only screen and (max-width: 1023px) and (min-width: 200px) {
    .repeater-main {gap:0;}
    .repeater-list {padding: 80px 0;}
    .repeater-list-inner {gap:50px; align-items: flex-start;}
    .repeater-img {max-width: 344px; padding: 0;}
    .repeater-text, .repeater-list:nth-child(2n) .repeater-list-inner .repeater-text {width: 100%; padding: 0;}
}

@media only screen and (max-width: 767px) and (min-width: 200px) {
    .repeater-list .background-bg {width: 100%; height: 112.32vw;}
    .repeater-img {max-width: 100%; max-height: inherit; height: 73.68vw;}
}