
.reports-panels-section{background-color: var(--light);}
.reports-panels-heading{border-bottom: 1px solid var(--blue); padding-bottom: 5px; margin-bottom: 30px; align-items: end;}
.reports-panels-title{flex: 1; }
.reports-panels-title h2{font-size: 2rem; font-weight: 400; color: var(--blue); line-height: 1.3; margin-bottom: 0;}
.reports-panels-drop-down{width: fit-content;}
body .reports-panels-drop-down .selectBox-dropdown{font-size: 0.842rem; line-height: 1.13; font-weight: 400; min-width: 93px; padding: 8px 42px 9px 15px;}
body .reports-panels-drop-down .selectBox-dropdown .selectBox-label{opacity: 1;}
body .reports-panels-drop-down .selectBox-dropdown .selectBox-arrow{right: 15px;}

.reports-panels-content .accordion-item .accordion-heading{background-color: var(--white);}
.reports-panels-content .accordion-item .content{background: var(--white); padding: 0 31px 60px 99px;}

.reports-file-main{gap: 10px; width: 100%; }
.reports-file-grid{background: var(--white); flex: 0 0 calc(33.333% - 7px); font-family: 'Segoe UI This', sans-serif; box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.1);}

.reports-file-icon {width: 66px; align-items: center; display: flex; background: var(--blue); justify-content: center;}
.reports-file-icon figure {line-height: 0;}
.reports-file-icon figure img {max-width: 34px; height: auto;}

.reports-file-desc {padding:31px 20px 26px 20px; display: flex; flex-wrap: wrap; justify-content: space-between; align-items: center; width: calc(100% - 66px); gap:10px;}
.reports-file-desc .h6 {font-family: 'Segoe UI This', sans-serif; margin:0 0 4px 0; line-height: normal; font-size: 1rem;}
.reports-file-desc p {font-size: 0.842rem; color: var(--muted); line-height: normal; margin-bottom: 12px;}
.reports-file-desc .reports-file-info {color: var(--black-50); font-size: 0.737rem; gap:20px; line-height: normal;}
.reports-file-desc .reports-file-info span {display: inline-block;}
.reports-file-desc .reports-file-desc-lt {flex:1; margin: -4px 0 auto 0;}
.reports-file-desc .reports-file-desc-rt {width: fit-content;}



  @media screen and (min-width: 1024px){
    .reports-panels-main{padding: 125px 0 120px;}
    
  }

  @media only screen and (max-width:1023px) and (min-width:767px){
    .reports-panels-main{padding: 80px 0;}
    .reports-file-grid{flex: 0 0 calc(50% - 5px);}

  }
  @media only screen and (max-width:767px) and (min-width:200px){
    .reports-panels-main{padding: 80px 0; }
    .reports-panels-heading{border-bottom: 1px solid var(--blue); padding-bottom: 4px; margin-bottom: 20px; align-items: flex-start;}
    .reports-panels-title h2{font-size: 1.474rem; line-height: 1.14; }


    .reports-file-main{gap:10px; margin: 0;}
    .reports-file-grid {position: relative; flex: 100%;}
    .reports-file-grid:last-of-type {opacity: 0.2;}
    .reports-file-grid:last-of-type:before {content: ""; position: absolute; top: 0; left: 0; width: 100%; height: 100%; display: block; background: linear-gradient(0deg, #fff 40%, rgba(115, 115, 115, 0.00) 100%); z-index: 2;}
    .reports-file-icon {width: 46px;}
    .reports-file-icon figure img {max-height: 22px; max-width: 18px;}
    .reports-file-desc {width: calc(100% - 46px); padding: 27px 20px 22px 20px;}
    .reports-file-desc .reports-file-desc-rt .button {font-size: 0; border-radius: 50%; width: 39px; height: 39px; padding: 0;}
    .reports-file-desc .reports-file-desc-rt .button:hover span {animation: bounceTopToBottom 1.5s infinite;}
    .reports-file-desc .reports-file-desc-rt .button span {display: flex; align-items: center; justify-content: center; font-size:0.895rem; line-height: 39px; width: 100%; height: 100%}
    .reports-file-desc .reports-file-desc-rt {margin-bottom: auto;}
    .reports-panels-content .accordion-item .accordion-heading{padding: 10px 20px 14px 71px;}
    .reports-panels-content .accordion-item .content{padding: 8px 9px 10px 8px;}
}