


.scrolly-sidebar{position: -webkit-sticky; position: sticky; top: 190px;}
.scrolly-sticky{position: -webkit-sticky; position: sticky; top: 190px;}
#scrolly-row-1{box-shadow: none;}

.scrolly-section{width: 100%; background-color: var(--blue-dark); z-index: 1; position: relative;}
.scrolly-main{padding:0 0 120px 125px;} 
.scrolly-left{position: relative;}
ul.scrolly-links{margin: 0;}
ul.scrolly-links li::before{display: none;}
ul.scrolly-links li{margin: 0;}
ul.scrolly-links li a{font-weight: 300; padding: 25px 0; display: block; color: var(--white-30); font-size: 1.684rem; line-height: 100%; }
ul.scrolly-links li a.current{color: var(--white); font-weight: 300; font-size: 2.211rem; line-height: 100%;}
ul.scrolly-links li:first-child a{padding-top: 0;}
ul.scrolly-links li:first-child .scrolly-line-blue{top: 0; transform: none;}
/* ul.scrolly-links li:last-child .scrolly-line-blue{border-radius: 0 0 4px 4px;} */

.scrolly-line { width: 1px; height: 100%; top: 0; left: auto; background-color: var(--white); z-index: -1; position: absolute; right: -132px; }
/* .scrolly-line-blue{transition: all 0.5s ease; width: 8px; height: 0%; left: auto; top: 0; z-index: 0; background-color: var(--blue); position: absolute; right: -136px; } */
.scrolly-line-blue {
	transition: all 0.5s ease;
	width: 22px;
	height: 22px;
    border-radius: 50%;
	left: auto;
	top: 50%;
    transform: translateY(-50%);
	z-index: 0;
	background-color: var(--white);
	position: absolute;
	right: -143px;
	opacity: 0;
}
a.current .scrolly-line-blue{ opacity: 1;}
.scrolly-spy{font-weight: 800; color: var(--White);}
.scrolly-btns{background: rgba(165, 24, 144, 0.25); padding: 4px 4px 8px;}
.scrolly-btns > *{width: 100%;}
.scrolly-btns a:first-child{margin-bottom: 8px;}
.scrolly-btns a:not(.button){gap: 8px; color: var(--White);}
.scrolly-btns a:not(.button):hover{color: var(--Sky-Blue);}
.scrolly-year{font-size: 0.895rem; font-weight: 700; padding: 7px 25px 8px 22px; background: var(--orange); color: var(--white); top: 10px; left: -10px; }
.scrolly-text{font-weight: 300;}
.scrolly-text .h4{margin-bottom: 18px; font-size: 1.105rem; font-weight: 700; }
.scrolly-text hr.sm-line{margin: 12px 0;}
.scrolly-text ul > li{font-weight: 700;}
.scrolly-text ul > li::before{background: url("../../images/checked-circle-pro.svg"); background-repeat: no-repeat; background-size: contain; content: ""; height: 20px; left: -28px; position: absolute; top: 5px; width: 20px; }
.scrolly-text ul > li > a{color: var(--Raisin-Black);}
.scrolly-text ul > li > a:hover{color: var(--Accent);}
.scrolly-text ul:last-child{margin-bottom: 0;}
.scrolly-text ul > li:last-child{margin-bottom: 0;}

.no_scrolly_text{display: block;}
.scrolly-btns.no_demo_btn, .scrolly-btns.no_demo_link{padding: 0; background: none;}
.scrolly-btns.no_demo_btn a:not(.button){justify-content: flex-start;}
.no_testimonial_section{margin-top: 6rem;}

.scrolly-data{background: var(--white);}

/*-- media css starts here --*/
@media screen and (min-width: 1024px){
    .scrolly-main{gap: 256px;}
    .scrolly-row:not(:last-child){margin-bottom: 30px;}
    .scrolly-left{flex: 0 0 87px;}
    .scrolly-col{flex: 1;}
    .scrolly-data{flex-direction: row-reverse; gap: 85px;}
    .scrolly-text{flex: 1; padding-left: 70px;}
    .scrolly-image{flex: 0 0 466px;}
}
@media screen and (max-width: 1399px) and (min-width: 1024px){
    .scrolly-data{flex-direction: column; gap: 0;}
    .scrolly-image, .scrolly-text{flex: 100%;}
    .scrolly-image{width: 100%; max-height: 300px; }
    .scrolly-image img{max-height: 300px; object-position: top center;}
    .scrolly-text{width: 100%; padding: 30px; }
}
@media screen and (max-width: 1023px) and (min-width: 768px){
    .scrolly-wrap{padding-bottom: 80px;}
    .scrolly-main{gap: 200px; padding: 0;}
    .scrolly-left{flex: 0 0 87px;}
    .scrolly-col{flex: 1;}
    .scrolly-row{margin-bottom: 30px;}
    .scrolly-row:last-child{margin-bottom: 0;}
    .scrolly-data{padding: 0;}
    .scrolly-image, .scrolly-text{flex: 100%;}
    .scrolly-text{padding: 30px;}
    .scrolly-line{right: -115px;}
    .scrolly-line-blue{right: -125px; }
}
@media screen and  (min-width: 768px){
    body.scrolly-body{overflow: clip;}
}
@media screen and (max-width: 767px) and (min-width: 200px){
    .scrolly-wrap{padding-bottom: 80px;}
    .scrolly-main{padding: 0; display: block;}
    .scrolly-left{display: none;}
    .scrolly-row{margin-bottom: 30px; position: initial; box-shadow: none;}
    .scrolly-row:last-child{margin-bottom: 0;}
    .scrolly-data{flex-direction: column;}
    .scrolly-image, .scrolly-text{flex: 100%;}
    .scrolly-text{padding: 30px;}
    .scrolly-text .h4{margin-bottom: 12px; font-size: 1.105rem; line-height: 1.33; letter-spacing: normal;}
    .scrolly-btns{padding: 0 4px; margin: 0 auto; border-radius: 28px; }
    .scrolly-btns a:first-child{margin-bottom: 0; width: fit-content; line-height: 1.125rem;}
    .scrolly-btns a:not(.button){gap: 8px; flex: 1;}
}