.signup-module {clear: both; width: 100%; position: relative; z-index: 1; overflow:hidden; padding: 121px 0 134px 0; min-height: 647px;}
.signup-module .background-bg:after {background: linear-gradient(0deg, rgba(0, 119, 201, 0.23) 0%, rgba(0, 119, 201, 0.23) 100%);
  mix-blend-mode: color; content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.signup-module .background-bg:before{background: linear-gradient(0deg, rgba(217, 217, 217, 0.00) 0%, var(--white) 100%);content: ""; position: absolute; left: 0; top: 0; width: 100%; height: 100%;}
.signup-module .signup-main {-webkit-backdrop-filter:blur(5px); backdrop-filter:blur(5px); background: var(--blue-80); padding:89px 125px 110px; position: relative;}
.signup-module .signup-main .section-heading {color: var(--white);}
.signup-module .signup-wrap {justify-content: space-between; align-items: center; gap:6.218905472636816%; z-index: 1; margin: 53px 0 0 0;}

.signup-module .signup-lt {width:calc(100% - 45.2%); flex-grow: 1; display: flex; flex-wrap: wrap; gap:32px;}
.signup-module .signup-lt .news-icon {width: 63px; height: 82px;}
.signup-module .signup-lt .news-icon img {width: 100%; height: 100%;}
.signup-module .signup-lt .h4 {margin-bottom: 0; color: var(--white); flex:1;}

.signup-module .signup-rt {width:38.907284768211916%; text-align: center; flex-grow: 1;}
.signup-module .signup-form .disclaimer {font-size:0.684rem; line-height:1.3; position: absolute; right:14px; bottom:17px; color: var(--white-60);}

.signup-module .signup-form .frm_forms .frm_form_fields input, .signup-module .signup-form .frm_forms .frm_form_fields input:focus, .signup-module .signup-form .frm_forms .frm_form_fields input:hover {font-size:0.947rem; font-weight: normal; line-height: 1.29; padding:8px 150px 10px 29px; background: var(--input); font-family: "segoe-ui", sans-serif; color: var(--white)!important;}

.signup-module .signup-form .frm_forms .frm_form_fields {position: relative;}
.signup-module .signup-form .frm_forms .frm_form_fields .frm_form_field {margin: 0;}
.signup-module .signup-form .frm_forms .form-field label {display: none}
.signup-module .signup-form .frm_forms .frm_submit-btn {position: absolute; right: 5px; top: 6px; margin: 0; width: auto;}
.signup-module .signup-form .frm_forms .frm_submit-btn button {color: var(--blue);}
.signup-module .signup-form .frm_forms .frm_submit-btn button:before {background-color: var(--white);}
.signup-module .signup-form .frm_forms .frm_message {text-align: center; margin: 0 20px; line-height: 1.2; color: var(--white); font-family: "segoe-ui", sans-serif;
  font-weight: 600;}
.signup-module .signup-form .frm_forms .frm_message p {margin: 0; text-align: center; color: var(--dark);}
.signup-module .frm_forms.frm_style_formidable-style.with_frm_style .frm_form_fields .frm_form_field .frm_error {color: #fff !important; bottom: -22px;}

.signup-module ::-webkit-input-placeholder {color: var(--white)!important; opacity: 0.7!important; font-size:0.947rem!important;}
.signup-module:-moz-placeholder {color: var(--white)!important; opacity: 0.7!important; font-size:0.947rem!important;}
.signup-module ::-moz-placeholder {color: var(--white)!important; opacity: 0.7!important; font-size:0.947rem!important;}
.signup-module :-ms-input-placeholder {color: var(--white)!important; opacity: 0.7!important; font-size:0.947rem!important;}


@media only screen and (max-width:1280px) and (min-width:1024px) {
    .signup-module .signup-main {padding: 89px 30px 110px;} 
    .signup-module .signup-lt {width: calc(100% - 50%);}
}

@media only screen and (max-width:1023px) and (min-width:200px) {
.signup-module {min-height: inherit; padding: 80px 0 81px;}
}

@media only screen and (max-width:1023px) and (min-width:768px) {
    .signup-module .signup-main {padding:40px 30px 80px;}
    .signup-module .signup-wrap {gap: 40px; margin: 40px 0 0 0;}
    .signup-module .signup-lt {width: 100%;}
}

@media only screen and (max-width:767px) and (min-width:200px) {
    .signup-module .background-bg picture img {object-position: center left;}
    .signup-module .signup-main {padding:41px 30px 40px;}
    .signup-module .signup-wrap {margin: 39px 0 0 0;}
    .signup-module .signup-lt {width: 100%; gap: 19px;}
    .signup-module .signup-lt .news-icon {width: 36px; height: 47px; margin-top: 8px;}
    .signup-module .signup-rt {width: 100%; margin:41px 0 0 0;} 
    .signup-module .signup-form .frm_forms .frm_form_fields .frm_form_field {margin: 0 0 10px 0;}
    .signup-module .signup-form .frm_forms .frm_form_fields input, .signup-module .signup-form .frm_forms .frm_form_fields input:focus, .signup-module .signup-form .frm_forms .frm_form_fields input:hover {padding: 8px 29px 10px 29px;}
    .signup-module .signup-form .frm_forms .frm_submit-btn {position: initial; width: 100%;}
    .signup-module .signup-form .frm_forms .frm_submit-btn button {width: 100%;}
    .signup-module .signup-form .disclaimer {position: initial; margin: 11px 0 0 0;}
    .signup-module .frm_forms.frm_style_formidable-style.with_frm_style .frm_form_fields .frm_form_field .frm_error {bottom: 65px;}
    .signup-module .signup-form .frm_forms .frm_message {max-width: 300px; margin: 0 auto;}
}