


.sustainability-banner-section{background: var(--green-dark);}
.sustainability-banner-section .background-bg{z-index: 0; max-height: 739px;}
.sustainability-banner-section picture::before{content: ""; position: absolute; width: 100%; height: 100%; top: 0; left: 0; background: linear-gradient(0deg, var(--green-dark) 0%, transparent 100%);}
.sustainability-banner-section .container-lg{position: relative; padding: 0;}

.sustainability-banner-text{font-size: 1.263rem; color: var(--white); max-width: 593px; }
.sustainability-banner-text span.optional-text{line-height: 1.69; color: var(--white-75); margin: 0 0 20px 0;}
.sustainability-banner-text h1{color: var(--white); font-size: 5.263rem; line-height: 1.1; margin-bottom: 32px;}
.sustainability-banner-text p{margin-bottom: 33px;}

.banner-widget-wrap {max-width: 175px; height: auto; padding:30px 25px; width: 100%; color: var(--white); position: absolute; top: 20px; right: 20px; backdrop-filter: blur(27px);}
.banner-widget-wrap p {line-height: 1.22; font-size: 0.947rem; font-family: 'Segoe UI This', sans-serif;}
.banner-widget-bg{width: 100%; height: 100%; top: 0; left: 0; position: absolute; z-index: -1;}


@media screen and (min-width: 1024px) {
    .sustainability-banner-main{padding: 375px 0 144px;}
}


@media screen and (max-width: 1023px) and (min-width: 768px){
     .sustainability-banner-text h1{font-size: 3.632rem;}
}
@media screen and (max-width: 1023px) and (min-width: 200px){
    .sustainability-banner-main{padding: 80px 0 280px; width: 100%;}
    .sustainability-banner-section .background-bg{max-height: 351px; bottom: 0; top: auto;}
    .sustainability-banner-section picture::before{background: linear-gradient(0deg, transparent 0%, var(--green-dark) 100%);}
    .sustainability-banner-text{max-width: 100%; font-size: 1.105rem;}
    .sustainability-banner-text span.optional-text{margin: 0 0 15px 0;}
    .sustainability-banner-text h1{margin-bottom: 17px; font-size: 2.632rem; line-height: 1.08; }
    .sustainability-banner-text p{margin-bottom: 20px; }
    .banner-widget-wrap{top: auto; right: auto; left: 17px; bottom: -20px; }
}