


@import url("_hero-banner-section.css?v=5523425");
@import url("_cta-module.css");
@import url("_signup-module.css");
@import url("_repeater-section.css");
@import url("_section-intro.css");
@import url("_features-module.css");
@import url("_quote-section.css");

.hero-banner-section{background: var(--blue-dark); }
.hero-banner-section .background-bg::before{background: linear-gradient(0deg, var(--blue-dark) 0%, transparent 100%);}
.hero-banner-section .background-bg{z-index: 0; max-height: 779px;}
.hero-banner-section .hero-banner-main{z-index: 1; position: relative;}

.hero-banner-section picture, .hero-banner-section figure {width: 100%;}


@media screen and (min-width: 1024px) {
     .hero-banner-main{min-height: 819px; align-items: end;}
     .hero-banner-text{padding-bottom: 72px;}
}