

@import url("_hero-banner-section.css");
@import url("_link-box-section.css");

.background-bg{max-height: 739px;}
.hero-banner-section .background-bg::before{background: linear-gradient(0deg,rgb(0, 73, 134) 0%, rgba(0, 73, 134, 0.29) 100%);}
.hero-banner-section picture, .hero-banner-section figure{width: 100%;}
.hero-banner-section .background-bg img{object-position: top center;}
.hero-banner-main{min-height: 847px; align-items: end;}


@media screen and (min-width: 1024px) {
    .hero-banner-text{padding-bottom: 64px;}
    
}