@import url("_hero-banner-section.css");
@import url("_section-intro.css");
@import url("_services-section.css");
@import url("_stats-section.css");
@import url("_repeater-section.css");
@import url("_featured-news-module.css");
@import url("_about-section.css");
@import url("_sites-module.css");
@import url("_portfolio-module.css");
@import url("_cta-module.css");
@import url("_signup-module.css");



.hero-banner-text p {font-size: 1rem; line-height: 1.58;}
.banner-widget-wrap {top: inherit; bottom:30px;}

.repeater-section + .featured-news-module {margin: 69px 0 0 0;}

/*-- media css starts here --*/
@media screen and (min-width: 1024px) {
  .about-main {padding: 134px 0 156px; gap: 154px;}
}

@media only screen and (max-width:1250px) and (min-width:768px) {}

@media only screen and (max-width:1023px) and (min-width:200px) {
    .repeater-section + .featured-news-module {margin-top: 0;}
}


@media only screen and (max-width:767px) and (min-width:200px) {
    .repeater-section + .sitewrap {padding-top: 0;}
}